<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header>
<a href="index.html" th:href="@{/}">
    <img src="../public/images/fourthingsplus.png"  th:src="@{/images/fourthingsplus.png}" width="25%"/>

</a>
</header>

<h1>Welcome, <span th:text="${session.currentUser.username}"></span></h1>


<h2>New task</h2>

<form method="post"> <!-- Update the form action -->
    <input type="text" name="task" placeholder="task"/>
    <button type="submit" formaction="addtask">Add</button>


</form>








        <h2>Doing</h2>

        <table>
            <thead>
            <tr>
                <th style="text-align: left;">Tasks</th>
                <th>Action</th>
            </tr>
            </thead>
        <tbody>
            <tr th:each="task:${taskList}">
                <td th:text="${task.name}"></td>
                <td><button type="submit">Done</button></td>

            </tr>
        </tbody>

        </table>



        <p th:if="${session.currentUser !=null}">
            <a href="index.html" th:href="@{/logout}">Logout</a>
        </p>





</body>
</html>